<html>
We are registering you in our system against your identity - %1   <br>
 
To be a registered user for our web site, you need to verify your email address. Please click on the link below to verify your email address. <br>

<a href="https://v2technologies.mybalsamiq.com/confirm/74518667d575f64004f48e159fe9e42ead8fcd2d">Click to Confirm</a> <br>
 
If you don't confirm within the next 2 days, your account will be suspended. If you don't confirm within a week, your account will be deleted.<br>
 
Almost there! <br>
 
V2 Technologies Inc<br>
-------------------------------------------------------------------------------------------------------------------------------------------------------------------<br>
You received this email since you have registered your details on our system at following date and time - %2  <br>

Please ignore the email if you haven't registered on our system. <br>

<html>